In [3]:
import numpy as np
import pandas as pd

from trend_following_objects import ParameterData, RegimeInfo
from trend_following_strategy import EstimationParameter

In [25]:
mkt_info = MarketInfo("510050", 0.03, 0.001, 0.001)

In [26]:
mkt_info.upper_boundary

0.0009995003330834232

In [27]:
mkt_info.lower_boundary

-0.0010005003335835344

In [28]:
para_info = ParameterData("510050")

In [29]:
para_info.bull_lambda

0

In [30]:
import rqdatac as rq
from rqdatac import *

rq.init("18222926853","FinTech2020")

C:\vnstudio\lib\site-packages\rqdatac\client.py:134: UserWarning: rqdatac is already inited. Settings will be changed.
  warnings.warn("rqdatac is already inited. Settings will be changed.", stacklevel=0)

In [31]:
rq.initialized()

True

## Test trend_following_strategy

In [4]:
regime_info = RegimeInfo("000300", 0.2, 0.2)

In [5]:
import tushare as ts

ts.set_token('c3450fdabd780ea8ef13ebdd0230c2e52a5737b05cfb0377eecc2f84')
pro = ts.pro_api()

In [6]:
cons = ts.get_apis()
csi_300 = ts.bar('000300', conn=cons, asset='INDEX', start_date='2005-04-08', end_date='2020-01-01')
csi_300.index = pd.to_datetime(csi_300.index)
csi_300['date'] = csi_300.index
csi_300 = csi_300.sort_values(by = 'date')
#csi_300['percent'] = csi_300['p_change'].apply(lambda x: perc(x))
csi_300['log_rtn'] = np.log(csi_300['close']).diff()
csi_300['rtn'] = (csi_300['close'] - csi_300['close'].shift())/csi_300['close']
csi_300.head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,code,open,close,high,low,vol,amount,p_change,date,log_rtn,rtn
datetime,,,,,,,,,,,
2005-04-08,000300,984.66,1003.45,1003.70,979.53,147625.0,9.151350e+09,NaN,2005-04-08,NaN,NaN
2005-04-11,000300,1003.88,995.42,1008.73,992.77,159360.0,1.043623e+10,-0.80,2005-04-11,-0.008035,-0.008067
2005-04-12,000300,993.71,978.70,993.71,978.20,102261.0,6.479563e+09,-1.68,2005-04-12,-0.016940,-0.017084
2005-04-13,000300,987.95,1000.90,1006.50,987.95,160716.0,1.002960e+10,2.27,2005-04-13,0.022430,0.022180
2005-04-14,000300,1004.64,986.97,1006.42,985.58,129457.0,7.813425e+09,-1.39,2005-04-14,-0.014015,-0.014114

In [7]:
est_para = EstimationParameter(csi_300, "close", regime_info)

In [8]:
print(est_para)

Estimate Parameters for 000300

In [10]:
est_para.find_bull_bear("bear")
est_para.get_regimes()

[{'state': 'bear',
  'start_date': numpy.datetime64('2005-04-08T00:00:00.000000000'),
  'end_date': numpy.datetime64('2005-06-03T00:00:00.000000000'),
  'min_point': 818.03,
  'max_point': 1003.45},
 {'state': 'bull',
  'start_date': numpy.datetime64('2005-06-03T00:00:00.000000000'),
  'end_date': numpy.datetime64('2007-10-16T00:00:00.000000000'),
  'min_point': 818.03,
  'max_point': 5877.2},
 {'state': 'bear',
  'start_date': numpy.datetime64('2007-10-16T00:00:00.000000000'),
  'end_date': numpy.datetime64('2007-11-28T00:00:00.000000000'),
  'min_point': 4648.75,
  'max_point': 5877.2},
 {'state': 'bull',
  'start_date': numpy.datetime64('2007-11-28T00:00:00.000000000'),
  'end_date': numpy.datetime64('2008-01-14T00:00:00.000000000'),
  'min_point': 4648.75,
  'max_point': 5731.76},
 {'state': 'bear',
  'start_date': numpy.datetime64('2008-01-14T00:00:00.000000000'),
  'end_date': numpy.datetime64('2008-04-21T00:00:00.000000000'),
  'min_point': 3267.55,
  'max_point': 5731.76},
 {'state': 'bull',
  'start_date': numpy.datetime64('2008-04-21T00:00:00.000000000'),
  'end_date': numpy.datetime64('2008-05-05T00:00:00.000000000'),
  'min_point': 3267.55,
  'max_point': 4055.78},
 {'state': 'bear',
  'start_date': numpy.datetime64('2008-05-05T00:00:00.000000000'),
  'end_date': numpy.datetime64('2008-11-04T00:00:00.000000000'),
  'min_point': 1627.76,
  'max_point': 4055.78},
 {'state': 'bull',
  'start_date': numpy.datetime64('2008-11-04T00:00:00.000000000'),
  'end_date': numpy.datetime64('2009-08-03T00:00:00.000000000'),
  'min_point': 1627.76,
  'max_point': 3787.03},
 {'state': 'bear',
  'start_date': numpy.datetime64('2009-08-03T00:00:00.000000000'),
  'end_date': numpy.datetime64('2009-08-31T00:00:00.000000000'),
  'min_point': 2830.27,
  'max_point': 3787.03},
 {'state': 'bull',
  'start_date': numpy.datetime64('2009-08-31T00:00:00.000000000'),
  'end_date': numpy.datetime64('2009-12-07T00:00:00.000000000'),
  'min_point': 2830.27,
  'max_point': 3668.83},
 {'state': 'bear',
  'start_date': numpy.datetime64('2009-12-07T00:00:00.000000000'),
  'end_date': numpy.datetime64('2010-07-05T00:00:00.000000000'),
  'min_point': 2512.65,
  'max_point': 3668.83},
 {'state': 'bull',
  'start_date': numpy.datetime64('2010-07-05T00:00:00.000000000'),
  'end_date': numpy.datetime64('2010-11-08T00:00:00.000000000'),
  'min_point': 2512.65,
  'max_point': 3548.57},
 {'state': 'bear',
  'start_date': numpy.datetime64('2010-11-08T00:00:00.000000000'),
  'end_date': numpy.datetime64('2012-12-03T00:00:00.000000000'),
  'min_point': 2108.85,
  'max_point': 3548.57},
 {'state': 'bull',
  'start_date': numpy.datetime64('2012-12-03T00:00:00.000000000'),
  'end_date': numpy.datetime64('2013-02-06T00:00:00.000000000'),
  'min_point': 2108.85,
  'max_point': 2775.84},
 {'state': 'bear',
  'start_date': numpy.datetime64('2013-02-06T00:00:00.000000000'),
  'end_date': numpy.datetime64('2014-03-20T00:00:00.000000000'),
  'min_point': 2086.97,
  'max_point': 2775.84},
 {'state': 'bull',
  'start_date': numpy.datetime64('2014-03-20T00:00:00.000000000'),
  'end_date': numpy.datetime64('2015-06-08T00:00:00.000000000'),
  'min_point': 2086.97,
  'max_point': 5353.75},
 {'state': 'bear',
  'start_date': numpy.datetime64('2015-06-08T00:00:00.000000000'),
  'end_date': numpy.datetime64('2015-08-26T00:00:00.000000000'),
  'min_point': 3025.69,
  'max_point': 5353.75},
 {'state': 'bull',
  'start_date': numpy.datetime64('2015-08-26T00:00:00.000000000'),
  'end_date': numpy.datetime64('2015-12-22T00:00:00.000000000'),
  'min_point': 3025.69,
  'max_point': 3876.73},
 {'state': 'bear',
  'start_date': numpy.datetime64('2015-12-22T00:00:00.000000000'),
  'end_date': numpy.datetime64('2016-01-28T00:00:00.000000000'),
  'min_point': 2853.76,
  'max_point': 3876.73},
 {'state': 'bull',
  'start_date': numpy.datetime64('2016-01-28T00:00:00.000000000'),
  'end_date': numpy.datetime64('2018-01-24T00:00:00.000000000'),
  'min_point': 2853.76,
  'max_point': 4389.89},
 {'state': 'bear',
  'start_date': numpy.datetime64('2018-01-24T00:00:00.000000000'),
  'end_date': numpy.datetime64('2019-01-03T00:00:00.000000000'),
  'min_point': 2964.84,
  'max_point': 4389.89}]